/* style.css */

.chakra-petch-light {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.chakra-petch-regular {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chakra-petch-medium {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.chakra-petch-semibold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.chakra-petch-bold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.chakra-petch-light-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.chakra-petch-regular-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.chakra-petch-medium-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.chakra-petch-semibold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.chakra-petch-bold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: italic;
}



body {
  background-color: #efc050;
  font-family: "Lucida Console", "Courier New", monospace;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-family: "Chakra Petch", sans-serif;
}

* {
  box-sizing: border-box;
}

/* Navigation bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  left: 0;
  transition: all 0.3s ease;
}
.navbar a:hover {
  color: #f5d997;
}
.navbar p {
  margin: 0;
  font-size: 24px;
  pointer-events: none;
  transition: font-size 0.3s ease;
}
.navbar .buttons {
  display: flex;
  gap: 10px;
}
.navbar.scrolled {
  padding: 20px 40px;
}
.navbar.scrolled p {
  font-size: 32px;
}
a:hover {
  cursor: default;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.active {
  background-color: #e9ab18;
}
html {
  scroll-behavior: smooth;
}
/* --------------------- */

/* -------Projects container-------------- */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  justify-content: center

}
/*   Projects container => Item project-------------- */
.flex-item {
  border: 10px solid #2a2a2a;
  border-radius: 15px;
  grid-row: 1 / 3;
  padding: 10px;
  flex: 33.3%;
  height: 60%;
  min-height: 500px;
  max-height: 200px;
  max-width: 45%;
  margin: 1%;
  background-size: cover;
  transition: transform 0.15s ease-in-out, opacity 0.3s ease-in-out;
}

.flex-item:hover {
  transform: scale(1.05);
  opacity: 0.75;
}

.project-description {
  display: none;
  color: aliceblue;
}

.flex-item:hover .project-description {
  cursor: default;
  display: flex;
  background-color: rgb(0, 0, 0);
  margin-top: 35%;
  z-index: 1;
}
.flex-item:hover::after .project-description {
  z-index: 0;
}
.flex-item ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.flex-item li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
/*   Projects container => Item project => description */
.project-title {
  cursor: default;
  text-align: center;

  margin-top: 0%;
  margin-bottom: 0%;
  color: #f1f1f1;
  text-shadow: 2px 2px 5px rgb(21, 20, 20);
  background-color: rgba(173, 173, 173, 0.308);
}

.project-tools {
  cursor: default;
  text-align: center;
  margin-top: 0%;
  font-size: x-large;
  color: #c3bcbc;
}
/* --------------------- */

.rectangle-box {
width: 100%;
  /* 2/3 szerokości ekranu */
  height: 400px;
  /* Przykładowa wysokość */
  border: 20px solid #e9ab18; /* Dodanie koloru do obramowania */
  background-color: #f2cd75; /* Przykładowy kolor tła */
  box-sizing: border-box; /* Uwzględnienie obramowania w szerokości i wysokości elementu */
  display: flex;
  /* Przykładowy kolor */
  flex-direction: column;
  
}
.parafgaph-text {
  font-size: 30px;
  display: flex;
  color: #222222;
  
  justify-content: center;
}
.parafgaph-text h1 {
  font-size: 85px;
  font-weight: 700;
}

.parafgaph-text h2 {
  font-size: 60px;
  font-weight: 700;
}

/* Contact section */
.icon-container {
  width: 100%;
  background-color: #ce9613;
  justify-content: center; /* Wyśrodkowanie ikon poziomo */
  align-items: center; /* Wyśrodkowanie ikon pionowo */
  display: flex;

  gap: 60px;
  padding: 50px;
  border-radius: 10px;
  margin-bottom: 100px;
}

.icon {
  max-width: 45%;
  max-height: 45%;
  font-size: 70px;
  transition: transform 0.3s;
  justify-self: center;
  object-fit: contain;

}

#logo img {
  width: 70px;
  height: 70px;
}

.icon:hover {
  cursor: default;
  transform: scale(1.2);
  filter: brightness(75%);
}

.dropdown {
  display: none;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 900px) {
    .body {
background-color: #3e8e41;
    } 
    .active {
      background-color: #e9aa1800;
    }
    .navbar .buttons {
      display: none;
    }
    .navbar p {
      display: none;
    }

  .dropdown {
    position: relative;
    display: inline-block;
      transition: background-color 0.3s;
    
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #f1f1f1}
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .drop-button {
    background-color: #3e8e41;
  }



.parafgaph-text h1 {
  font-size: 40px;
  font-weight: 700;
}

.parafgaph-text h2 {
  font-size: 35px;
  font-weight: 700;
}

.flex-container {
display: block;
}

.flex-item {
  max-width:100%;
  grid-row: 1;
  grid-row: auto;
  flex-basis: 100%;
  width: auto;
}






.icon-container {
  gap:  20px;
  padding: 10px;
  margin-bottom: 20px;
}



}




